<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Raaka-aineiden lisäys ja poistaminen</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h2>Raaka-aineet</h2>
        
        <ul>
            <li th:each="aine: ${aineet}">
                <span th:text="${aine.nimi}">raaka-aineen nimi</span> <a th:href="${'/aineet/' + aine.id + '/poista'}">(poista)</a>
            </li>
        </ul>
        
        <h4>Lisää uusi raaka-aine</h4>
        
        <form method="POST" action="/aineet/lisaa">
            Raaka-aineen nimi:<br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lisää"/>
        </form>

        <a href="/">Palaa aloitussivulle</a>
    </body>
</html>