<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiearkisto</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Tervetuloa smoothiearkistoon!</h1>

        <p><a href="/smoothielista">Smoothielista</a></p>
        <br/>
        <p><a href="/aineet">Raaka-aineiden lisäys ja poistaminen</a></p>
        <p><a href="/smoothiet">Smoothieiden lisäys ja poistaminen</a></p>
    </body>
</html>