<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Smoothiet</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h2>Smoothiet</h2>
            <ul>
            <li th:each="smoothie: ${smoothiet}">
                <span th:text="${smoothie.nimi}">smoothien nimi</span> <a th:href="${'/smoothiet/' + smoothie.id + '/poista'}">poista</a>
            </li>
        </ul>
        
        <h4>Luo uusi smoothie</h4>
        
        <form method="POST" action="/smoothiet/lisaa">
            Smoothien nimi:<br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lisää"/>
        </form>
    </body>
</html>
