<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Smoothieiden lisäys ja poistaminen</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h2>Smoothiet</h2>
            <ul>
            <li th:each="smoothie: ${smoothiet}">
                <span th:text="${smoothie.nimi}">smoothien nimi</span> <a th:href="${'/smoothiet/' + smoothie.id + '/poista'}">poista</a>
            </li>
        </ul>
        
        <h4>Luo uusi smoothie</h4>
        
        <form method="POST" action="/smoothiet/lisaa">
            Smoothien nimi:<br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lisää"/>
        </form>
        
        <h4>Lisää raaka-aineita</h4>
        
        <form method="POST" action="/smoothiet/aineet/lisaa">
            Smoothien nimi:<br/>
            <select name="smoothie">
                <option th:each="smoothie: ${smoothiet}" th:text="${smoothie.nimi}" th:value="${smoothie.id}">smoothie</option>
            </select>
            <br/>
            Lisättävä raaka-aine<br/>
            <select name="aine">
                <option th:each="aine: ${aineet}" th:text="${aine.nimi}" th:value="${aine.id}">aine</option>
            </select>
            <br/>
            Järjestys<br/>
            <input name="jarjestys" type="text" /><br/>
            Määrä<br/>
            <input name="maara" type="text" /><br/>
            Ohje<br/>
            <input name="ohje" type="text" /><br/>
            <input type="submit" value="Lisää"/>
        </form>
        <a href="/">Palaa aloitussivulle</a>
    </body>
</html>
