<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${smoothie}">Smoothien nimi</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1><span th:text="${smoothie}">Smoothien nimi</span></h1>
         <ol>
            <li th:each="smoothieaine, iterStat: ${aineet}">
                <span><b th:text="${aineidenNimet[iterStat.index]}">raaka-aineen nimi</b></span> - <span th:text="${smoothieaine.maara}">maarat</span><br/><span th:text="${smoothieaine.ohje}">ohjeet</span>
            </li>
        </ol>
        <a href="/smoothielista">Palaa smoothielistaan</a>
    </body>
</html>